$bg-color: #f2f6f9;
$table-bg-color: #fefefe;
$table-head-bg-color: #e1e8f2;
$hover-text-color: #48BB78;

@mixin mobile-xxs {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin min-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin tablet-to-desktop {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $bg-color;
  font-size: 16px;
}

.responsive-info-table {
  display: grid;
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 1200px;
  height: 800px;
  margin: 2rem 0;
  background-color: $table-bg-color;
  border-collapse: collapse;

  @include min-tablet {
    grid-template-columns: repeat(9, auto);
  }
  @include tablet-to-desktop {
    grid-template-columns: repeat(9, auto);
  }

  &__head {
    display: contents;
    @include desktop {
      display: none;
    }
    &__title {
      background-color: $table-head-bg-color;
      font-weight: 400;
      font-weight: bold;
    }
  }
  &__body {
    display: contents;
    .responsive-info-table__row {
      transition: 0.1s linear;
      transition-property: color, background;
      &:last-child {
        border-bottom: none;
      }
    }
    &__text {
      text-align: left;
      &:hover {
        color: $hover-text-color;
      }
      &::before {
        margin-right: 1rem;
        font-weight: 600;
      }
      @include desktop {
        &::before {
          content: attr(data-title) " :";
        }
      }
      @include mobile-xxs {
        &::before {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
  &__button {
    display: contents;
  }
  &__row {
    display: contents;
    th {
      position: sticky;
      top: 0;
    }
    th,
    td {
      display: block;
      padding: 1rem;
      white-space: nowrap;
      border: 1px solid;
      border-color: #E2E8F0;
    }
  }
}